<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    TEST Application
  </h1>
</div>

<div>
<div class="test">
    <form #form="ngForm">
        <date-picker [(ngModel)]="date1" name="date1" #dtp1></date-picker><br>
        <date-picker [(ngModel)]="date2" name="date2" #dtp2></date-picker><br>
		<button (click)="calculate(date1,date2)" class="btn btn-primary">Click</button>
    </form><br>
	<p>La différence: {{message}} Jour</p>
	
</div>
</div>

